body {
  background-color: #CCFFFF;
  height: 100vh;
}

#app {
  text-align: center;
}

.hidden {
  display: none;
}

.search {
  input {
    max-width: 200px;
    margin-right: 5px;
  }
}

.weather {
  margin-top: 15px;

  > span {
    vertical-align: middle;
    font-size: 28px;
  }

  .temperature,
  .summary,
  .location {
    font-size: 20px;
    font-weight: bold;
  }

  button {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.locations {
  margin-top: 10px;
}

.location {
  margin-bottom: 10px;

  span {
    margin-right: 5px;
    vertical-align: middle;
  }

  button {
    border: 0;
  }
}
