body {
  background-color: #CCFFFF;
  height: 100vh;

  &.temp1 {
    background-color: rgba(0, 0, 255, 0.5);
  }

  &.temp2 {
    background-color: rgba(0, 115, 255, 0.5);
  }

  &.temp3 {
    background-color: rgba(0, 225, 255, 0.5);
  }

  &.temp4 {
    background-color: rgba(0, 255, 170, 0.5);
  }

  &.temp5 {
    background-color: rgba(0, 255, 55, 0.5);
  }

  &.temp6 {
    background-color: rgba(55, 255, 0, 0.5);
  }

  &.temp7 {
    background-color: rgba(170, 255, 0, 0.5);
  }

  &.temp8 {
    background-color: rgba(255, 225, 0, 0.5);
  }

  &.temp9 {
    background-color: rgba(255, 115, 0, 0.5);
  }

  &.temp10 {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

#app {
  text-align: center;
}

.hidden {
  display: none !important;
}

.search {
  margin-top: 25px;
  input {
    max-width: 200px;
    margin-right: 5px;
  }
}

.weather {
  margin-top: 15px;

  > span {
    vertical-align: middle;
    font-size: 28px;
  }

  button {
    margin-left: 10px;
    vertical-align: middle;
  }

  .hourly {
    font-size: 18px;
  }
}

.locations {
  margin-top: 10px;
}

.location {
  margin-bottom: 10px;

  span {
    margin-right: 5px;
    vertical-align: middle;
  }

  button.location-name {
    width: 200px;
    height: auto;
    white-space: normal;
  }

  button.is-danger {
    border: 0;
  }
}
