body {
  background-color: lightblue;
  height: 100vh;
}

h1 {
  font-size: 5em;
}

#app {
  text-align: center;
}

.hidden {
  display: none;
}

.search {
  input {
    max-width: 200px;
    margin-right: 5px;
  }
}

.weather {
  margin-top: 10px;
}
